.background {
    background-image: url('https://media.giphy.com/media/tKX6FNU9UGwF2/giphy.gif');
    background-size: cover;
    min-width: 400px;
    min-height: 700px;
    background-repeat: no-repeat;
    text-align: center;

}

.login {
   margin-top: 3%;
   border: groove;
   border-color: darkgray;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   filter: blur(0.7px);
   background-color: darkred;
   -webkit-transform: rotate(1.5deg); /* Chrome, Safari, Opera */
    transform: rotate(1.5deg);
}