<input placeholder="Search for song" [(ngModel)]="songToSearch">
<button (click)="searchForSong()">Song to add</button>
<ul>
  <li class="song" (click)="firstSongInTrain(i)" *ngFor="let songResult of songResults; let i = index; trackBy: trackByFn">
    <p>{{songResult.artist}}</p>
    <p>{{songResult.song}}</p>
  </li>
</ul>
<div class="train-form">
  <label>Train name: </label>
  <input placeholder="e.g. Running mix" [(ngModel)]="trainName">
  <label>Train img: </label>
  <input placeholder="www.trainimg.com" [(ngModel)]="trainImgPath">
  <div class="selected-song">
    First song in train
    <p>{{selectedTrack.artist}}</p>
    <p>{{selectedTrack.song}}</p>
  </div>
  <label>Tags</label>
  <textarea [(ngModel)]="trainTags"></textarea>

  <button (click)="createTrain()">Submit</button>
</div>

<button (click)="testSession()">Test Session</button>