<md-card  class='killme'>

  <table style="width: 100%" cellspacing="3"><tr>
    <td><md-input-container style="width: 100%">
      <input required md-input [(ngModel)]='loginUsername' placeholder="Username">
    </md-input-container></td>
    <td><md-input-container style="width: 100%">
      <input required md-input type="password" [(ngModel)]='loginPassword' placeholder="Password">
    </md-input-container></td>
  </tr></table>

  <p>
    <button md-raised-button color='warn' (click)='submitLogin()'  routerLink="" class='login' > LOGIN </button>

    <md-input-container width="100%">
      <textarea md-input placeholder="social media placeholder" value=""></textarea>
    </md-input-container>
    <md-input-container width="100%">
      <textarea md-input placeholder="social media placeholde"></textarea>
    </md-input-container>
  </p>

</md-card>