@keyframes dropHeader {
    0% {
        transform: translateY(-250%);
    }
    100% {
        transform: translateY(0);
    }
}

.signup {
    width: 40%;
    margin-left: auto;
    margin-right: auto;

    animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
  
    background-color: white;
    margin-top: 10%;
    border-radius: 25px;
    border: groove;
   border-color: darkgray;
   filter: blur(0.3px);
   
}

.login {
    margin-right: 30px;
    border: groove;
   border-color: darkgray;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   filter: blur(0.4px);
   background-color: darkred;
}

.login:hover {
  background-color: red;
  transform: scale(1.1);
}