<md-list id="listwrap" >
  <span class='bg'> </span>
  <md-list *ngFor='let train of trains; let idx = index; trackBy: trackByFn' class='train'>
      <span class='title'><h5>{{train.trainName}}</h5></span>
      <img class='trainImg' [src]='train.trainImg'>
      <div class='bootuns'>
          <button (click)="addSongToTrain(idx)"> + </button>
          <img (click)="favTrain(idx)" src="http://pngimg.com/upload/heart_PNG691.png" class="fav-heart">
      </div>
      <div *ngFor='let song of train.songs' id='songlist'>
          <p class='sawng'><em>{{song.title}}</em> by {{song.artist}}</p>
          <audio controls='controls' [src]='song.songSourcePath'></audio>
      </div>
  </md-list>
</md-list>