.trainImg {
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 1em;
    border: 1px groove darkred;
}

.train li {
    text-decoration: none;
}

.bootuns {
    display: inline-block;
     position: relative;
    bottom: 1em;
}

.title {
    background-color: white;
    display: inline-block;
    position: relative;
    bottom: 1em;
    border-radius: 3px;
    border: 1px groove darkred;
    width: 100px;
    text-align: center;
}

.sawng {
    margin-bottom: 0px;
    background-color: white;
    width: 300px;
    overflow: scroll;
    white-space: nowrap;
    text-align: center;
}

.train {
    overflow: scroll;
    width: 100%;
    max-height: 13.6%;
    border-bottom: 1px groove lightslategray;
    white-space: nowrap;
    text-decoration: none;
}

#songlist {
    display: inline-block;
    width: 300px;
    position: relative;
    top: .4em;
}

audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}

audio
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px darkred;
-webkit-box-shadow:  2px 2px 4px 0px darkred;
box-shadow: 2px 2px 4px 0px darkred;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}

md-list {
    padding-top: 0px;
}

.bg {
    background-color: ghostwhite;
    opacity: .6;
    width: 100%;
    height: 100%;
}

#listwrap {
    width: 45%;
    height: 500px;
    display: inline-block;
    margin-top: 7%;
    white-space: nowrap;
    overflow: scroll;
    margin-left:33%;
    border: groove;
    border-color: darkred;
    border-radius: 10px;
    position: fixed;
}

.link {
    display: inline-block;
    height: 60%;
    width: 8%;
}

.fav-heart{
  max-height: 40px;
  max-width: 40px;
  cursor: pointer;
}

.add-song-btn {
  margin-top: 3%;
  margin-left: 1px;
  margin-bottom: 5px;
  border: groove;
  border-color: darkgray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  filter: blur(0.4px);
  background-color: darkred;
  margin-right: 3px;
}

.add-song-btn:hover {
  background-color: red;
  transform: scale(1.1);
}