.trainImg {
    width: 10%;
    height: 100%;
}

.train li {
    text-decoration: none;
}

.train {
    overflow: scroll;
    width: 100%;
    height: 10%;
    border: 1px solid red;
    white-space: nowrap;
    text-decoration: none;
}

#songlist {
    display: inline-block;
    text-decoration: none;
}

#listwrap {
    width: 40%;
    display: inline-block;
    margin-left: 10%;
    border: groove;
    border-color: darkred;
    text-decoration: none;
}

.sm2-bar-ui {
 font-size: 12px;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
 background-color: #b54645;
}
.sm2-bar-ui .sm2-inline-texture {
 background: url(image/patterns/textured_paper.png);
}

.list {
    text-decoration: none;
}