.trainImg {
    width: 30px;
    height: 30px;
    
}

.train {
    overflow: scroll;
    width: 500px;
    height: 50px;
    border: 1px solid red;
    white-space: nowrap;
    padding: 0;
}

#songlist {
    display: inline-block;
}

.sm2-bar-ui {
 font-size: 16px;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
 background-color: #2288cc;
}
.sm2-bar-ui .sm2-inline-texture {
 background: transparent;
}
