/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
    margin: 0;
    height: 100%;
    min-height: 600px;
}