<div class='bground'>

<md-card  class='killme'>

    <md-input-container width="100%">
      <textarea md-input placeholder="Train Name" value=""></textarea>
    </md-input-container>

    <md-input-container width="100%">
      <textarea md-input placeholder="Train Image Url"></textarea>
    </md-input-container>

    <md-input-container width="100%">
      <textarea md-input placeholder="Train Tags"></textarea>
    </md-input-container>

    <md-input-container width="100%">
      <textarea md-input placeholder="Intro Song"></textarea>
    </md-input-container>

    <button md-raised-button color='warn' routerLink="" class='login' > Submit </button>

</md-card>

<app-fav-trains></app-fav-trains>

<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#" id='name'>
                        T r a i n R e c c
                    </a>
                </li>
                <li>
                    <input placeholder="Search tags" [(ngModel)]="tagsToSearch" class='tagsearch'>
                </li>
                

                <button md-raised-button class='logout' routerLink='login'>Logout</button>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
  </div>
</div>