.song {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

li {
  margin: 20px;
  padding-left: 0px;
  margin-left: -15px;
}

#sidebar-wrapper {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  width: 150px;
  border-top: groove;
  border-left: groove;
  border-bottom: groove;
  border-color: darkred;
  height: 99.99%;
  display: inline;
  opacity: .7;
  background-color: ghostwhite;
  border-width: 2px;
}

#wrapper {
  display: inline;
  position: fixed;
}

#name {
  margin-left: 10%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-bottom: groove;
  border-color: darkred;
  color: darkred;
}

.yuriyisgay {
  display: inline-block;
  width:20%;
  margin-left: 2%;
  margin-top: 0.5%;
  opacity: .8;
  border-radius: 20px;
  border: groove;
  border-color: darkred;
  border-width: 1px;
  position: fixed;
}

.selected-song {
  margin-bottom: 5px;
}

.inp {
  margin: 3px;
}

.login {
   margin-top: 1%;
   margin-left: 1px;
   border: groove;
   border-color: darkgray;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   filter: blur(0.4px);
   background-color: darkred;
}

.login:hover {
  background-color: red;
  transform: scale(1.1);
}

#slist {
    overflow: scroll;
    width: 100%;
    max-height: 9.8%;
    white-space: nowrap;
    text-decoration: none;
}

.searches {
  display: inline-block;
  width:20%;
  margin-left: 2%;
  margin-top: 27%;
  opacity: .8;
  border-radius: 20px;
  border: groove;
  border-color: darkred;
  border-width: 1px;
  position: fixed;
}

.loadinggif {
    width: 15%;
    height: 25%;
    display: inline-block;
    margin-top: 19%;
    margin-left:47%;
}

.search {
   margin-left: 18%;
   border: groove;
   border-color: darkgray;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   filter: blur(0.4px);
   background-color: darkred;
}

.search:hover {
  background-color: red;
  transform: scale(1.1);
}

.logout {
    margin-top: 175%;
   margin-left: 14%;
   border: groove;
   border-color: darkgray;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   filter: blur(0.4px);
   background-color: darkred;
}

.logout:hover {
  background-color: red;
  transform: scale(1.1);
}

.song {
  cursor: pointer;
  border-bottom: 1px ridge grey;
  margin-bottom: 1px;
}

.login2 {
   margin-top: 3%;
   margin-left: 1px;
   margin-bottom: 5px;
   border: groove;
   border-color: darkgray;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   filter: blur(0.4px);
   background-color: darkred;
}

.login2:hover {
  background-color: red;
  transform: scale(1.1);
}

.tagsearch {
  height: 20px;
  width: 45%;
  border-radius: 5px;
  margin-left: 6%;
}

.bground {
  background-image: url('../../assets/giphy-1.gif');
    background-size: cover;
    min-width: 400px;
    min-height: 762px;
    background-repeat: no-repeat;
}

.get-fav-btns {
  border: groove;
  border-color: darkgray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  filter: blur(0.4px);
  background-color: darkred;

  position: absolute;
  left: 50%;
  top: 50px;
}

.get-fav-btns:hover {
  background-color: red;
  transform: scale(1.1);
}

.md-ripple-background:hover {
  background-color: red;
  transform: scale(1.1);
}