<div class='bground'>
  <div *ngIf="testForGabe">
  
  <div *ngFor="let atv of addTrainView;">
    <div *ngIf="atv">
        <md-card class='yuriyisgay'>
            <md-input-container width="100%">
            <textarea md-input placeholder="Train Name" [(ngModel)]="trainName"></textarea>
            </md-input-container>

            <md-input-container width="100%">
            <textarea md-input placeholder="Train Image Url" [(ngModel)]="trainImgPath"></textarea>
            </md-input-container>

            <md-input-container width="100%">
            <textarea md-input placeholder="Train Tags" [(ngModel)]="trainTags"></textarea>
            </md-input-container>

            <div class="selected-song" id="slist">
                <h4>
                {{selectedTrack.artist}} {{selectedTrack.ph}}
                {{selectedTrack.song}}
                </h4>
            </div>

            <button md-raised-button color='warn' routerLink="" (click)="createTrain()" class='login' > Submit </button>

        </md-card>

        <md-card class='searches'>
            <input placeholder="Search for song" [(ngModel)]="songToSearch">
                <button md-raised-button color='warn' class='login2' (click)="searchForSong()">Search</button>
                <md-list id="slist">
                <div class="song" (click)="firstSongInTrain(i)" *ngFor="let songResult of songResults; let i = index; trackBy: trackByFn">
                    <p>{{songResult.artist}}</p>
                    <p>{{songResult.song}}</p>
                </div>
                </md-list>
        </md-card>
    </div>
 
    <div *ngIf="!atv">
        <md-card class='searches' id='addSongView'>
            <button class="return-to-trains-btn btn btn-danger" (click)="returnToTrains()">x</button>
            <h4>Track to recommend</h4>
            <h4>-----------------------</h4>
            <h4>{{recommendedTrack.song}}</h4>
            <input placeholder="Search for song" [(ngModel)]="songToSearch">
                <p>
                <button md-raised-button color='warn' class='login2' (click)="recommendTrack()" *ngIf="recommendedTrack">Add Song</button>
                <button md-raised-button color='warn' class='login2' (click)="searchForSong()">Search</button>
                </p>
                <md-list id="slist">
                <div class="song" (click)="trackToRecommend(i)" *ngFor="let songResult of songResults; let i = index; trackBy: trackByFn">
                    <p>{{songResult.artist}}</p>
                    <p>{{songResult.song}}</p>
                </div>
                </md-list>
        </md-card>
    </div>
</div>
<img class='loadinggif' src='http://khztkd.ir/Upload/Loading%20(2).gif' *ngIf='!listrendered'>

<button md-raised-button color='warn' class="get-fav-btns" (click)='getFavTrains()'> Favorited Songs </button>

<app-fav-trains *ngIf="listrendered"></app-fav-trains>

<div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#" id='name'>
                        T r a i n R e c c
                    </a>
                </li>
                <li>
                    <input placeholder="Search tags" [(ngModel)]="tagSearch" class='tagsearch'>
                    <button md-raised-button color='warn' routerLink="" class='search'  (click)='search()'> Search </button>
                </li>
                <!--<li>-->
                    <button md-raised-button color='warn' routerLink="login" class='logout' (click)='logout()'> Logout </button>
                <!--</li>-->
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
  </div>
  </div>
</div>